.crop-table-img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.crop-info-img {
  height: 275px;
  width: 275px;
  border-radius: 50%;
}

.form-control.ng-invalid:not(.ng-pristine) {
  border-color: var(--bs-danger);
}
